.menu-bar-item-button {
  align-items: center;
  margin: 1px 0;
  box-shadow: none;
  min-width: unset;
  padding: 0 8px;
  font-size: 12px;
}

.menu-bar-item-button.active {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.menu-bar-item-button:hover {
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
}

.menu-bar-item-button.active:hover {
    box-shadow: inset -1px -1px #fff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
}

.menu-bar-item-button:focus {
    outline: none;
} 